{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/remedy-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="remedy-container">
  <div class="usr-img">
    {% if remedy.type == "T" %}
      <img
        src="{% static 'images/potion.png' %}" 
        alt="potion"
        class="usr-img"
      >
    {% elif remedy.type == "P" %}
      <img
        src="{% static 'images/bandage.png' %}" 
        alt="bandage"
        class="usr-img"
      >
    {% else %}
      <img
        src="{% static 'images/pouch.png' %}" 
        alt="pouch"
        class="usr-img"
      >
    {% endif %}
  </div>
  <div class="remedy-details">
    <h1>{{ remedy.name }}</h1>
    <h2>Created By:</h2>
    <p>{{ remedy.user }}</p>
    <h2>Type:</h2>
    <p>{{ remedy.get_type_display }}</p>
    <h2>Herbs Needed:</h2>
    {% for herb in remedy.herbs.all %}
      <a href="{% url 'herbs_detail' herb.id %}">
        <p>{{ herb.name }}</p>
      </a>
    {% endfor %}
    <h2>Description:</h2>
    <p>{{ remedy.description }}</p>
    {% if user == remedy.user %}
      <div class="remedy-actions">
        <a href="{% url 'remedy_update' remedy.id %}" class="btn shiny">Edit</a>
        <a href="{% url 'remedy_delete' remedy.id %}" class="btn shiny">Delete</a>
      </div>
    {% endif %}
  </div>
</section>
<section class="link-container">
  <a href="{% url 'remedies_index' %}" class="btn shiny">Remedy Index</a>
</section>

{% endblock %}