{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1><span>Delete {{ object.name }}?</span></h1>
</div>
  <form action="" method="POST" class="form">
    {% csrf_token %}
    <a 
      href="{% url 'remedy_detail' remedy.id %}" 
      class="btn"
    >
      Cancel
    </a>
    <button type="submit" class="btn">Yes - Delete!</button>
  </form>
{% endblock %}