{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

  <h1>About Larkspur's Apothecary</h1>

  <div class="about-text">
    <p> Welcome! Larkspur's Apothecary was founded in 1432. Begun by my great, great, great, great, great, great grandmother, Larkspur's has been provinding potions, tictures, balms, poultices, sachets, and bulk herbs to people in need for centuries. Our vast knowledge and wisdom of herbs and their healing properties has been passed down over the generations. There is no better apothecary to come to for all your herbal needs. Also, please come here and share your favorite remedies with us and other visitors! Just click on Create a Remedy to begin. </p>

    <p>As a note, anything you find here on this site should not take the place of going to a doctor. Always consult your doctor first before taking any herbs! If you think someone has poisoned you, also go to your doctor. Do not complain to us (or send your family to hunt us down if you die). Take it up with the poisoner (and maybe do some self reflection as to why someone would want to poison you in the first place.) We just sell the herbs, we don't control what people do with them.</p>
  </div>
  
{% endblock %}