{% extends 'base.html' %}

{% block content %}

  <h1>About Larkspur's Apothecary</h1>

  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a nunc bibendum, feugiat sem ac, convallis magna. Vivamus eget aliquam massa. Duis et dui porttitor leo tincidunt luctus. Sed non libero cursus, tristique ligula a, blandit lacus. Nunc eget posuere augue. Sed eu turpis nisl. Cras feugiat mi tempor, congue dolor ut, suscipit augue. Sed pulvinar massa vitae leo facilisis vulputate. Nunc euismod nulla arcu, ut pretium neque ullamcorper vitae. Etiam consequat, arcu id tristique ornare, sem sapien efficitur turpis, vel facilisis dui justo vitae lectus. Sed finibus magna sed dui egestas, sit amet dapibus enim efficitur. Donec sagittis ipsum at erat commodo luctus. Cras blandit ligula eget libero posuere luctus. Maecenas porttitor orci sed nisi maximus tincidunt. Sed tristique, est quis ultrices ultricies, purus tortor ultrices ligula, eget mattis orci ante a risus. Etiam sodales quam nulla, vel congue justo faucibus vel.</p>
  
{% endblock %}