{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock %}

{% block content %}

  <h1>About Larkspur's Apothecary</h1>

  <p> Welcome! Larkspur's Apothecary was founded in 1432. Begun by my great, great, great, great, great, great grandmother, Larkspur's has been provinding potions, tictures, balms, poultices, sachets, and bulk herbs to people in need for centuries. Our wisdom of herbs and their healing properties has be growing over the years and no apothecary can compare! Please make Larkspur's Apothecary your number one spot for any and all healing remedies (and poisons). </p>
  <p>We are also always learning. Please come here and share your favorite remedies with us and other users! Just click on Create a Remedy to begin.</p>
  <p>Please do not come here without the advice of a medical professional. Nothing on this site should be taken without a prescription!</p>
  
{% endblock %}