{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/thyme.png' %}"
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap" rel="stylesheet">
  <title>Larkspur's Apothecary</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img src="{% static 'images/logo-white.png' %}" alt="logo with Home text" class="logo-img"/>
      </a>
    </div>
    <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'herbs_index' %}" class="btn nav-btn">Herbs</a></li>
            <li>
              <div class="dropdown">
                <button class="dropbtn nav-btn">Remedies
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'remedies_index' %}">Remedies Index</a>
                  <a href="{% url 'myremedies' %}">My Remedies</a>
                  <a href="{% url 'remedy_create' %}">Create a Remedy</a>
                </div>
              </div>
            </li>
            <li><a href="{% url 'about' %}" class="btn nav-btn">About</a></li>
            <li><a href="{% url 'logout' %}" class="btn nav-btn">Log out</a></li>
          {% else %}
            <li><a href="{% url 'about' %}" class="btn nav-btn">About</a></li>
            <li><a href="{% url 'home' %}" class="btn nav-btn">Login</a></li>
            <li><a href="{% url 'signup' %}" class="btn nav-btn">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>