h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

p {
  font-size: var(--font-l);
  width: 100%;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-xl);
}

a:hover {
  border-bottom: 2px solid var(--button-bg);
}

.remedy-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.link-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.remedy-actions {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 2px solid var(--button-bg);
}

.usr-img {
  width: 60%;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: .1px;
  height: .1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .remedy-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}