{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/herb-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Herb List</h1>
</section>
<section class="card-container">
  {% for herb in herbs %}
    <div class="card">
      <a href="{% url 'herbs_detail' herb.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/'%}{{ herb.name }}.jpg" 
              alt="{{ herb.name }}"
              class="usr-img"
            >
          </div>
          <h2 class="card-title"><span>{{ herb.name }}</span></h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}